@{
    ViewData["Title"] = "Price Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-info">
            <h6 class="m-0 font-weight-bold text-white">Lista Precios</h6>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Precio Regular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Temporadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Festivos</a>
                </li>
            </ul>
            <div class="row tab-content" id="myTabContent">
                <div class="tab-pane fade show active col-sm-12" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-sm-3">
                            <button id="btnNuevo" class="btn btn-warning"><i class="fas fa-plus-circle"></i> Nuevo precio Regular</button>
                        </div>
                    </div>
                    <hr />
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>IdCategoria</th>
                                <th>Tipo Habitacion</th>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                                <th>Sabado</th>
                                <th>Domingo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade col-sm-12" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-sm-3">
                            <button id="btnNuevo2" class="btn btn-warning"><i class="fas fa-plus-circle"></i> Nueva Temporada</button>
                        </div>
                    </div>
                    <hr />
                    <table class="table table-bordered" id="tbdata2" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Dia</th>
                                <th>Fecha</th>
                                <th>Incremento</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade col-sm-12" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-sm-3">
                            <button id="btnNuevo3" class="btn btn-warning"><i class="fas fa-plus-circle"></i> Nuevo Festivo</button>
                        </div>
                    </div>
                    <hr />
                    <table class="table table-bordered" id="tbdata3" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Dia</th>
                                <th>Fecha</th>
                                <th>Incremento</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalDataRegular" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Precio Regular</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <input type="hidden" value="0" id="txtIdCategory">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtCategoryName">Tipo Habitacion</label>
                                        <input type="text" class="form-control form-control-sm" id="txtCategoryName">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="cboEstado">Estado</label>
                                        <select class="form-control form-control-sm" id="cboEstado">
                                            <option value="1">Activo</option>
                                            <option value="0">No Activo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="txtMonday">Lunes</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtMonday" name="Monday">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtTuesday">Martes</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtTuesday" name="Tuesday">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtWednesday">Miercoles</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtWednesday" name="Wednesday">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtThursday">Jueves</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtThursday" name="Thursday">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="txtFriday">Viernes</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtFriday" name="Friday">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtSaturday">Sabado</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtSaturday" name="Saturday">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtSunday">Domingo</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtSunday" name="Sunday">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardarRegular">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalDataRegular2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Precio Temporada</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtName">Nombre</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtName" name="Nombre temporada" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtDayOfTheWeek">Dia de la semana</label>
                                        <input type="number" class="form-control form-control-sm input-validar" id="txtDayOfTheWeek" name="Dia de la semana" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label for="txtDate">Fecha</label>
                                        <input type="date" class="form-control form-control-sm input-validar" id="txtDate" name="Fecha del dia" >
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="txtIncrement">% Incremento</label>
                                        <input type="number" class="form-control form-control-sm input-validar" id="txtIncrement" name="Porcentaje de incremento" >
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="cboEstado">Estado</label>
                                        <select class="form-control form-control-sm" id="cboEstado">
                                            <option value="1">Activo</option>
                                            <option value="0">No Activo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalDataRegular3" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Precio Festivo (Feriado)</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtName3">Nombre</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtName3" name="Nombre temporada" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtDayOfTheWeek3">Dia de la semana</label>
                                        <input type="number" class="form-control form-control-sm input-validar" id="txtDayOfTheWeek3" name="Dia de la semana" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label for="txtDate3">Fecha</label>
                                        <input type="date" class="form-control form-control-sm input-validar" id="txtDate3" name="Fecha del dia" >
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="txtIncrement3">% Incremento</label>
                                        <input type="number" class="form-control form-control-sm input-validar" id="txtIncrement3" name="Porcentaje de incremento" >
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="cboEstado">Estado</label>
                                        <select class="form-control form-control-sm" id="cboEstado">
                                            <option value="1">Activo</option>
                                            <option value="0">No Activo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/js/vistas/Price_Manager_Index.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @*    <script src="~/js/vistas/datatables-demo.js"></script>
*@
    }