@{
    ViewData["Title"] = "Check In";
}
@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="~/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <style>
        body {
            margin-top: 20px;
            background: #FAFAFA;
        }

        .order-card {
            color: #fff;
        }

        .bg-c-blue {
            background: linear-gradient(45deg,#4099ff,#73b4ff);
        }

        .bg-c-blue-light {
            background: linear-gradient(45deg, #64a6ff, #91c4ff); /* Nuevo color blue-light */
        }

        .bg-c-green {
            background: linear-gradient(45deg,#2ed8b6,#59e0c5);
        }

        .bg-c-yellow {
            background: linear-gradient(45deg,#FFB64D,#ffcb80);
        }

        .bg-c-pink {
            background: linear-gradient(45deg,#FF5370,#ff869a);
        }

        .bg-c-red {
            background: linear-gradient(45deg, #e63946, #f66);
        }

        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            border: none;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .card .card-block {
                padding: 20px;
            }

        .order-card i {
            font-size: 26px;
        }

        .f-left {
            float: left;
        }

        .f-right {
            float: right;
        }

        .tab-content {
            margin: 30px;
        }

        #tbventa {
            font-size: 13px;
        }

    </style>

}

<div class="card shadow mb-4 viewMvto">
    <div class="card-header py-3 bg-gradient-info">
        <h6 class="m-0 font-weight-bold text-white">
            Llegadas
            <button id="toggleCollapse" class="btn btn-link text-white">
                <i id="collapseIcon" class="fa-solid fa-angle-up"></i>
            </button>
        </h6>
    </div>
    <div class="collapse show" id="collapseEstablishment">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- Contenido de la tarjeta aquí -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <br />
        </div>
    </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-gradient-info">
                <h6 class="m-0 font-weight-bold text-white">Reserva # 01124 - Sr. Oscar Moncada - Motor de Reservas</h6>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Informacion General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#rooms" role="tab" aria-controls="rooms" aria-selected="false">Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#guests" role="tab" aria-controls="guests" aria-selected="false">Huespedes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#folio" role="tab" aria-controls="folio" aria-selected="false">Estado de Cuenta</a>
                    </li>
                </ul>
                <div class="row tab-content" id="myTabContent">
                    <div class="tab-pane fade show active col-sm-12" id="general" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4 order-md-1 mb-4">
                                    <form class="Nights p-2">
                                        <ul class="list-group mb-3">
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0 font-weight">Entrada</h6>
                                                </div>
                                                <div>
                                                    <input type="date" class="form-control form-control-sm" id="txtFechaInicio" style="width: 120px;">
                                                    <small class="text-muted">Miércoles 11:00 AM</small>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0 font-weight">Salida</h6>
                                                </div>
                                                <div>
                                                    <input type="date" class="form-control form-control-sm" id="txtFechaFin" style="width: 120px;">
                                                    <small class="text-muted">Viernes 01:00 PM</small>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                <div class="text-success">
                                                 <div class="d-flex align-items-center">
                                                        <input type="number" class="form-control form-control-sm input-validar" id="txtAdults" name="Adultos" style="width: 50px;">
                                                        <i class="fas fa-user" style="margin-left: 5px;"></i>
                                                    </div>
                                                    <div class="d-flex align-items-center mt-2">
                                                        <input type="number" class="form-control form-control-sm input-validar" id="txtChilds" name="Ninos" style="width: 50px;">
                                                        <i class="fas fa-child" style="margin-left: 5px;"></i>
                                                    </div>
                                                    <div class="d-flex align-items-center mt-2">
                                                        <input type="number" class="form-control form-control-sm input-validar" id="txtRooms" name="Habitacion(es)" style="width: 50px;">
                                                        <i class="fas fa-child" style="margin-left: 5px;"></i>
                                                    </div>
                                                </div>
                                                <h6 class="my-0 font-weight-bold align-self-center"><span class="badge badge-secondary badge-pill">3</span> Noches</h6>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Canal</span>
                                                <strong>Agencia viajando por Colombia</strong>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                                <div class="col-md-4 order-md-3 mb-4">
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Acomodacion</h6>
                                                <small class="text-muted">Valor habitacion(es)</small>
                                            </div>
                                            <span class="text-muted">$12</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Impuesto</h6>
                                                <small class="text-muted">Total IVA</small>
                                            </div>
                                            <span class="text-muted">$8</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Servicios</h6>
                                                <small class="text-muted">Servicios Adicionales</small>
                                            </div>
                                            <span class="text-muted">$5</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Extras</h6>
                                                <small class="text-muted">Cargos Extra</small>
                                            </div>
                                            <span class="text-muted">$5</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <div class="text-success">
                                                <h6 class="my-0">Pagado</h6>
                                                <small>Valor pagado</small>
                                            </div>
                                            <span class="text-success">-$5</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Total (USD)</span>
                                            <strong>$20</strong>
                                        </li>
                                    </ul>

                                    <form class="card p-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Codigo Promocional">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-secondary">Redimir</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4 order-md-1">

                                    <form class="needs-validation" novalidate>

                                        <h4 class="mb-3">Pago</h4>

                                        <div class="d-block my-3">
                                            <div class="custom-control custom-radio">
                                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                                <label class="custom-control-label" for="credit">Credit card</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input id="others" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                                <label class="custom-control-label" for="credit">Otro</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="cc-name">Nombre en Tarjeta</label>
                                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                                <small class="text-muted">Nombre completo como se ve en la tarjeta</small>
                                                <div class="invalid-feedback">
                                                    Name on card is required
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="cc-number"># Tarjeta de credito</label>
                                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                                <div class="invalid-feedback">
                                                    Credit card number is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 mb-3">
                                                <label for="cc-expiration">Expiracion</label>
                                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                                <div class="invalid-feedback">
                                                    Expiration date required
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="cc-cvv">CVV</label>
                                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                                <div class="invalid-feedback">
                                                    Security code required
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="mb-4">
                                        <button class="btn btn-primary btn-lg btn-block" type="submit">Check In</button>
                                    </form>
                                </div>
                            </div>
                    </div>

                    <div class="tab-pane fade col-sm-12" id="rooms" role="tabpanel" aria-labelledby="profile-tab">
                       <div class="row">
                            <div class="col-sm-3">
                                <button class="btn btn-success" id="btnNuevo"><i class="fas fa-plus-circle"></i>Agregar Habitacion</button>
                            </div>
                            </div>
                        <hr />
                        <table class="table table-bordered" id="tbdata2" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Habitacion</th>
                                    <th>Descripcion</th>
                                    <th>Categoria</th>
                                    <th>Capacidad</th>
                                    <th>Tamano</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                     <div class="tab-pane fade col-sm-12" id="guests" role="tabpanel" aria-labelledby="contact-tab">
                         <div class="row">
                            <div class="col-sm-3">
                                <button id="btnNuevo" class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar Huesped</button>
                            </div>
                        </div>
                        <hr />
                        <table class="table table-bordered" id="tbdata3" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Documento</th>
                                    <th>Nombre</th>
                                    <th>Nacionalidad</th>
                                    <th>Email</th>
                                    <th>Telefono</th>
                                    <th>Tipo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                     <div class="tab-pane fade col-sm-12" id="services" role="tabpanel" aria-labelledby="contact-tab">
                         <div class="row">
                            <div class="col-sm-3">
                                <button id="btnNuevo" class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar Servicio</button>
                            </div>
                        </div>
                        <hr />
                        <table class="table table-bordered" id="tbdata3" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Informacion</th>
                                    <th>Cantidad</th>
                                    <th>Maximo Valor</th>
                                    <th>Condiciones</th>
                                    <th>Precio</th>
                                    <th>Valor Adicional</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade col-sm-12" id="folio" role="tabpanel" aria-labelledby="contact-tab">
                        <hr />
                        
                        <div class="row" id="rowEstadoCuenta">
            <div class="col-sm-12">
@*                <div class="card shadow mb-2">
                    <div class="card-header py-3 bg-gradient-info">
                        <h6 class="m-0 font-weight-bold text-white">Estado Cuenta</h6>
                    </div>*@

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold">Cliente</span>
                                        </div>
                                        <input type="text" class="form-control text-left" aria-label="Small" aria-describedby="txtNombreCliente" id="txtNombreCliente" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold" id="inputGroupTotal">Costo Reserva $</span>
                                        </div>
                                        <input type="text" class="form-control text-left" aria-label="Small" aria-describedby="inputGroupTotal" id="txtCostoReserva" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold" id="inputGroupTotal">Abono Reserva $</span>
                                        </div>
                                        <input type="text" class="form-control text-left" aria-label="Small" aria-describedby="inputGroupTotal" id="txtAbonoReserva" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold" id="inputGroupTotal">Saldo Reserva $</span>
                                        </div>
                                        <input type="text" class="form-control text-left" aria-label="Small" aria-describedby="inputGroupTotal" id="txtSaldoReserva" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold" id="inputGroupTotal">Servicio al cuarto $</span>
                                        </div>
                                        <input type="text" class="form-control text-left" aria-label="Small" aria-describedby="inputGroupTotal" id="txtValorCaja" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold" id="inputGroupTotal">Costo adicional $</span>
                                        </div>
                                        <input type="text" class="form-control text-left" aria-label="Small" aria-describedby="inputGroupTotal" id="txtCostoAdic">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold" id="inputGroupTotal">TOTAL $</span>
                                        </div>
                                        <input type="text" class="form-control text-left" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotal" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <button class="btn btn-warning btn-sm btn-block btnSendData" id="btnTerminar">Terminar Reserva</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-sm table-striped" id="tbventa">
                                    <thead>
                                        <tr>
                                            <th>Fecha Registro</th>
                                            <th>Número Mvto</th>
                                            <th>Tipo Mvto</th>
                                            <th>Documento Cliente</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                @*</div>*@
            </div>
        </div>

                    </div>  
                   
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Terminar Venta-->
    <div class="modal fade" id="modalPay" tabindex="-1" aria-labelledby="modalPayLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalPayLabel">Cobrar: $<b id="totalCobro"></b></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row ml-1">
                        <div class="col-sm-6 payMethods">
                        </div>
                        <div class="col-sm-6">
                            <div class="" style="">
                                <img id="imgPayMethod" src="" style="width: auto; max-width: 100%; max-height: 220px" />
                            </div>
                        </div>
                    </div>

                    <div class="row payMixto mb-1" style="display: none">
                        <div class="col-sm-7 input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lbltotalPay1">Efectivo &nbsp; $</span>
                            </div>
                            <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="lbltotalPay1" id="totalPay1" autocomplete="off"> &nbsp;
                        </div>
                        <div class="col-sm-5 input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lbltotalPay2">Otro $</span>
                            </div>
                            <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="lbltotalPay2" id="totalPay2" readonly>
                        </div>
                    </div>

                    <div class="row payWith">
                        <div class="col-sm-7 input-group input-group-sm mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lbltotalPayWith">Paga con $</span>
                            </div>
                            <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="lbltotalPayWith" id="totalPayWith" autocomplete="off">
                        </div>
                    </div>
                    <div class="row payWith">
                        <div class="col-sm-7">
                            <div style="font-size:14px">&nbsp;Su cambio:<b>$ <span id="cambio">0</span></b> </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 input-group input-group-sm mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="observacion">Observación</label>
                            </div>
                            <textarea type="text" maxlength="200" class="form-control form-control-sm" id="observacion" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size:10px;">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="registerCheckout(false)" style="font-size:11px;">Cobrar sin Imprimir <i class="fa fa-hand-holding-usd"></i></button>
                    <button type="button" class="btn btn-primary" onclick="registerCheckout(true)" style="font-size:11px;">Cobrar con Impresión <i class="fa fa-print"></i></button>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
    <!-- ============================================================
       =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="~/vendor/daterangepicker-master/daterangepicker.js"></script>
    <script src="~/js/vistas/Checkin_Index.js"></script>
    }
