@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="~/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet" />


    <style>
        /*        * {
                                                                    box-sizing: border-box;
                                                                }
                                                        */
        .select2 {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--single {
            background-color: #eaecf4;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-search--dropdown .select2-search__field {
            height: calc(1.5em + 0.5rem + 2px);
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }

        body {
            background-color: #f1f1f1;
        }

        #regForm {
            /*background-color: #ffffff;*/
            /*margin: 100px auto;
                                                                            padding: 40px;
                                                                            width: 70%;
                                                                            min-width: 300px;*/
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 95px;
            margin-left: 95px;
        }

        h1 {
            text-align: center;
        }

        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            border: 1px solid #aaaaaa;
        }

            /* Mark input boxes that gets an error on validation: */
            input.invalid {
                background-color: #ffdddd;
            }

        /* Hide all steps by default: */
        .tab {
            display: none;
        }

        button:hover {
            opacity: 0.8;
        }

        #prevBtn {
            background-color: #bbbbbb;
            border-color: #bbbbbb;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

            .step.active {
                opacity: 1;
            }

            /* Mark the steps that are finished and valid: */
            .step.finish {
                background-color: #04AA6D;
            }

        .detailRes {
            position: fixed;
            top: 94px;
            z-index: 999;
        }

        .card-room-details {
            border: 1px solid #dadadd;
            border-radius: 6px;
            box-shadow: none;
            background-color: #fff;
        }

        .card-room-icon {
            border: 1px solid #dadadd;
            border-radius: 6px;
            box-shadow: none;
        }

        .button {
            border-radius: 3.75rem;
            border: 1px solid transparent;
        }

        .button-accent {
            background-color: #068484;
            border-color: #068484;
            color: #fff;
        }

        .counter {
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-top: 20px; */
        }

        .card-room-details__counter-label {
            align-self: center;
        }

        .counter-botton {
            font-size: .875rem;
            float: right;
        }

        .button-secondary {
            background: #fff;
            border: 1px solid #1e1852;
            color: #1e1852;
        }

            .button-secondary:hover {
                background: #1e1852;
                border-color: #1e1852;
                color: #fff;
            }

        .form__selector .button {
            height: 2.4rem;
            position: relative;
            width: 4.3rem;
        }

        .input-counter {
            border: 0;
            padding: 0;
            background-color: transparent !important;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0 #3e3d48 !important;
        }

        .button:disabled {
            background-color: #dadadd;
            border-color: #dadadd;
            color: #6f6e77 !important;
            cursor: not-allowed;
            pointer-events: none;
        }
        #calendar {
            width: 95%;
        }
    </style>

}
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-info">
            <h6 class="m-0 font-weight-bold text-white">Calendario de Reservas</h6>
        </div>
        <div class="calendarView">
            <div class="row ml-1 mr-3 mt-1">
                <div class="col-md-4">
                    <label for="roomSelectLevel" class="form-label">Piso/Nivel</label>
                    <select class="form-select form-control" id="roomSelectLevel" required>
                   
                    </select>
                </div>
                <div class="col-md-8">
                    <label for="roomSelectRoom" class="form-label">Habitación</label>
                    <select class="form-select form-control" id="roomSelectRoom" required onchange="selectRoom()">
                  
                    </select>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>    

    <!-- Botón para abrir la modal de creación -->
    <button id="btnAbrirModalCreacion">Crear Reserva</button>

    <!-- Modal de creación de eventos -->
    <div class="modal fade" id="modalCreacion" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Crear Reserva</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="regForm">
                        <!-- One "tab" for each step in the form: -->
                        <div class="tab">
                            <h2>Paso 1. Fecha y Habitaciones Disponibles:</h2>

                            <p>
                                <label for="daterange">Fechas de entrada y salida:</label>
                                <input type="text" class="form-control form-control-sm" id="daterange" name="daterange" placeholder="Fechas de entrada y salida" value="" required>
                            </p>
                            <p>

                                <div class="row">
                                    <div class="col-md-12 py-2">
                                        <div class="row form__selector">
                                            <div class="col-md-6">
                                                <div class="col-md-12 card-room-details__counter-label pt-2">
                                                    Habitaciones
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="counter">
                                                    <button type="button" id="minusRoomsBtn" class="button button-secondary button--more" disabled="disabled">-</button>
                                                    <input type="text" id="countRoomsInput" name="countRoomsInput" class="form-control text-center input-counter" value="1" readonly tabindex="-1">
                                                    <button type="button" id="plusRoomsBtn" class="button button-secondary button--more">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 py-2">
                                        <div class="row form__selector">
                                            <div class="col-md-6">
                                                <div class="col-md-12 card-room-details__counter-label pt-2">
                                                    Adultos
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="counter">
                                                    <button type="button" id="minusAdultsBtn" class="button button-secondary button--more">-</button>
                                                    <input type="text" id="countAdultsInput" name="countAdultsInput" class="form-control text-center input-counter" value="1" readonly tabindex="-1">
                                                    <button type="button" id="plusAdultsBtn" class="button button-secondary button--more">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 py-2">
                                        <div class="row form__selector">
                                            <div class="col-md-6">
                                                <div class="col-md-12 card-room-details__counter-label pt-2">
                                                    Niños
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="counter">
                                                    <button type="button" id="minusChildrenBtn" class="button button-secondary button--more">-</button>
                                                    <input type="text" id="countChildrenInput" name="countChildrenInput" class="form-control text-center input-counter" value="0" readonly tabindex="-1">
                                                    <button type="button" id="plusChildrenBtn" class="button button-secondary button--more">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row" id="ageSelectContainer">
                                    <!-- Los selects de edades se generarán aquí -->
                                </div><br />

                                <div class="row rounded border p-3" id="roomSelectContainer">
                                </div>

                            </p>
                        </div>
                        <div class="tab">
                            <h2>Paso 2. Huesped Principal</h2>
                            <div id="collapseGuest">
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <div class="searchfield input-group px-10">
                                            <span class="input-group-text" id="showInputSearch">
                                                <i class="fas fa-search text-white" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div id="filter-records" class="mx-5"></div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4">
                                        <label for="DocumentType" class="form-label">Tipo Identificación</label>
                                        <select id="DocumentType" class="form-select form-control" required>
                                            <option value="CC" selected >CC</option>
                                            <option value="TI">TI</option>
                                            <option value="CE">CE</option>
                                            <option value="Pasaporte">Pasaporte</option>
                                            <option value="DNI">DNI</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Document" class="form-label">N. Identificación</label>
                                        <div class="input-group">
                                        <input type="text" maxlength="10" class="form-control" id="Document" required>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="IdRoom" class="form-label">Habitación</label>
                                        <select class="form-select form-control input-room" id="IdRoom" required>
                                            <option selected>Elige...</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Name" class="form-label">Nombres</label>
                                        <input type="text" class="form-control" id="Name" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="LastName" class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" id="LastName" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Email" class="form-label">Email</label>
                                        <input type="text" maxlength="50" class="form-control" id="Email" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="PhoneNumber" class="form-label">Movil</label>
                                        <input type="text" maxlength="15" class="form-control" id="PhoneNumber" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="RecidenceCity" class="form-label">Ciudad de Residencia</label>
                                        <input type="text" class="form-control" id="RecidenceCity" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="OriginCity" class="form-label">Ciudad de Procedencia</label>
                                        <input type="text" class="form-control" id="OriginCity" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Reason" class="form-label">Motivo</label>
                                        <select id="Reason" class="form-select form-control" required>
                                            <option selected>Elige...</option>
                                            <option value="Trabajo">Trabajo</option>
                                            <option value="Viaje">Viaje</option>
                                            <option value="Otra">Otra</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="NumberCompanions" class="form-label">N. Acompañantes</label>
                                        <input type="text" class="form-control" id="NumberCompanions" required>
                                    </div>
                                    <input type="hidden" id="IsMain" value="1">
                                    <input type="hidden" id="Age" value="A">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                            <label class="form-check-label" for="gridCheck">
                                                Acepto Terminos y Condiciones
                                            </label>
                                        </div>
                                    </div>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="tab" id="masterDetail">
                            <h2>Paso 3. Acompanantes</h2>
                            <button class="btn btn-info btn-sm" type="button" id="skipBtn" onclick="skipCompanion(1)">
                                <i class="fas fa-chevron-right"></i> Saltar
                            </button>
                        </div>
                        <div class="tab">
                            <h2>Paso 4. Pago</h2>
                            <input type="hidden" id="priceSelectedRoom" name="priceSelectedRoom" value="" />
                            <div class="row pb-2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-weight-bold">
                                                Habitación
                                            </span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span id="totalRoomSpan">$ 0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-weight-bold">
                                                Sub Total
                                            </span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span id="subTotalValueSpan">$ 0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-weight-bold">
                                                Adicionales
                                            </span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span id="serviceValueSpan">$ </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-weight-bold">
                                                Impuesto
                                            </span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span id="impuestoValueSpan">$ </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-weight-bold">
                                                Saldo Total
                                            </span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span id="totalSpan">$ </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="pb-2" />                          
                            <div class="row">
                                <div class="col-md-4">
                                    <p>
                                        <label for="Descuento" class="form-label">Descuento</label>
                                        <select id="Descuento" class="form-select form-control" required>
                                            <option selected>0%</option>
                                            <option value="10">5 %</option>
                                            <option value="20">10 %</option>
                                            <option value="30">20 %</option>
                                        </select>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <label for="CobroExtra" class="form-label">Cobros Extra</label>
                                    <input type="text" class="form-control" id="CobroExtra" value="0" required>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <label for="Adelanto" class="form-label">Adelanto</label>
                                    <input type="text" class="form-control" id="Adelanto" value="0" required>
                                    </p>
                                </div>                           
                                <div class="col-md-12">
                                    <p>
                                        <label for="statusBookSelect" class="form-label">Estado Reserva</label>
                                        <select id="statusBookSelect" class="form-select form-control" required>
                                            <option selected value="0">Elije...</option>
                                        </select>
                                    </p>
                                </div>                            
                                <div class="col-md-12" id="serviceSelectContainer">
                                    <p>
                                        <label for="Adelanto" class="form-label">Servicios Adicionales</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" id="services-container">
                                                    <!-- Los servicios se cargarán dinámicamente aquí -->
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <label for="Observaciones" class="form-label">Observaciones</label>
                                        <textarea class="form-control" id="w3review" name="w3review"></textarea>
                                    <p>
                                </div>
                            </div>
                        </div>
                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <button class="btn btn-info btn-sm" type="button" id="prevBtn" onclick="nextPrev(-1)">
                                    <i class="fas fa-chevron-left"></i> Anterior
                                </button>
                                <button class="btn btn-info btn-sm" type="button" id="nextBtn" onclick="nextPrev(1)">
                                    <i class="fas fa-chevron-right"></i> Siguiente
                                </button>
                            </div>
                        </div>
                        <!-- Circles which indicates the steps of the form: -->
                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>       
    <script src="~/vendor/fullcalendar-6.1.8/dist/index.global.min.js"></script>   
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <script src="https://static.cloudflareinsights.com/beacon.min.js"></script>    
    <script src="~/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="~/vendor/daterangepicker-master/daterangepicker.js"></script>



    <script src="~/js/vistas/Calendar_Index.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>

    }
