<select id="nationality" name="nationality" class="form-control form-control-sm">
    <option value="" disabled="disabled" selected>
        -
    </option>
    <option value="Colombiano">
        Colombiano
    </option>
    <option value="Afgano">
        Afgano
    </option>
    <option value="Albano">
        Albano
    </option>
    <option value="Alemán">
        Alemán
    </option>
    <option value="Americano">
        Americano
    </option>
    <option value="Andorrano">
        Andorrano
    </option>
    <option value="Angoleño">
        Angoleño
    </option>
    <option value="Antiguana">
        Antiguana
    </option>
    <option value="Argelino">
        Argelino
    </option>
    <option value="Argentino">
        Argentino
    </option>
    <option value="Armenio">
        Armenio
    </option>
    <option value="Australiano">
        Australiano
    </option>
    <option value="Austríaco">
        Austríaco
    </option>
    <option value="Azerbaiyano">
        Azerbaiyano
    </option>
    <option value="Bahameño">
        Bahameño
    </option>
    <option value="Bangladesí">
        Bangladesí
    </option>
    <option value="Barbadense">
        Barbadense
    </option>
    <option value="Bareiní">
        Bareiní
    </option>
    <option value="Basotho">
        Basotho
    </option>
    <option value="Belga">
        Belga
    </option>
    <option value="Beliceño">
        Beliceño
    </option>
    <option value="Beninés">
        Beninés
    </option>
    <option value="Bielorrusa">
        Bielorrusa
    </option>
    <option value="Birmano">
        Birmano
    </option>
    <option value="Boliviano">
        Boliviano
    </option>
    <option value="Bosnio">
        Bosnio
    </option>
    <option value="Botsuana">
        Botsuana
    </option>
    <option value="Brasileño">
        Brasileño
    </option>
    <option value="Británico">
        Británico
    </option>
    <option value="Bruneano">
        Bruneano
    </option>
    <option value="Burkinés">
        Burkinés
    </option>
    <option value="Burundés">
        Burundés
    </option>
    <option value="Butanés">
        Butanés
    </option>
    <option value="Búlgaro">
        Búlgaro
    </option>
    <option value="Caboverdiano">
        Caboverdiano
    </option>
    <option value="Camboyano">
        Camboyano
    </option>
    <option value="Camerunés">
        Camerunés
    </option>
    <option value="Canadiense">
        Canadiense
    </option>
    <option value="Catarí">
        Catarí
    </option>
    <option value="Centroafricano">
        Centroafricano
    </option>
    <option value="Chadiano">
        Chadiano
    </option>
    <option value="Checo">
        Checo
    </option>
    <option value="Chileno">
        Chileno
    </option>
    <option value="Chino">
        Chino
    </option>
    <option value="Chipriota">
        Chipriota
    </option>
    <option value="Comorense">
        Comorense
    </option>
    <option value="Congoleña">
        Congoleña (RDC)
    </option>
    <option value="Congolés">
        Congolés
    </option>
    <option value="Costarricense">
        Costarricense
    </option>
    <option value="Croata">
        Croata
    </option>
    <option value="Cubano">
        Cubano
    </option>
    <option value="Danés">
        Danés
    </option>
    <option value="Dominicana">
        Dominicana (Rep. Dominicana)
    </option>
    <option value="Dominiquesa">
        Dominiquesa (Dominica)
    </option>
    <option value="Ecuatoguineano">
        Ecuatoguineano
    </option>
    <option value="Ecuatoriano">
        Ecuatoriano
    </option>
    <option value="Egipcio">
        Egipcio
    </option>
    <option value="Emiratense">
        Emiratense
    </option>
    <option value="Eritreo">
        Eritreo
    </option>
    <option value="Eslovaco">
        Eslovaco
    </option>
    <option value="Esloveno">
        Esloveno
    </option>
    <option value="Español">
        Español
    </option>
    <option value="Esrilanqués">
        Esrilanqués
    </option>
    <option value="Estonio">
        Estonio
    </option>
    <option value="Etíope">
        Etíope
    </option>
    <option value="Filipino">
        Filipino
    </option>
    <option value="Finlandés">
        Finlandés
    </option>
    <option value="Fiyiano">
        Fiyiano
    </option>
    <option value="Francés">
        Francés
    </option>
    <option value="Gabonés">
        Gabonés
    </option>
    <option value="Gambiano">
        Gambiano
    </option>
    <option value="Georgiano">
        Georgiano
    </option>
    <option value="Ghanés">
        Ghanés
    </option>
    <option value="Granadino">
        Granadino
    </option>
    <option value="Griega">
        Griega
    </option>
    <option value="Guatemalteco">
        Guatemalteco
    </option>
    <option value="Guineana">
        Guineana
    </option>
    <option value="Guineano">
        Guineano
    </option>
    <option value="Guyanés">
        Guyanés
    </option>
    <option value="Haitiano">
        Haitiano
    </option>
    <option value="Hondureño">
        Hondureño
    </option>
    <option value="Húngaro">
        Húngaro
    </option>
    <option value="Indio">
        Indio
    </option>
    <option value="Indonesio">
        Indonesio
    </option>
    <option value="Iraní">
        Iraní
    </option>
    <option value="Iraquí">
        Iraquí
    </option>
    <option value="Irlandés">
        Irlandés
    </option>
    <option value="Islandés">
        Islandés
    </option>
    <option value="Israelí">
        Israelí
    </option>
    <option value="Italiano">
        Italiano
    </option>
    <option value="Jamaicano">
        Jamaicano
    </option>
    <option value="Japonés">
        Japonés
    </option>
    <option value="Jordano">
        Jordano
    </option>
    <option value="Kazajo">
        Kazajo
    </option>
    <option value="Keniano">
        Keniano
    </option>
    <option value="Kirguís">
        Kirguís
    </option>
    <option value="Kiribatiano">
        Kiribatiano
    </option>
    <option value="Kosovar">
        Kosovar
    </option>
    <option value="Kuwaití">
        Kuwaití
    </option>
    <option value="Laosiano">
        Laosiano
    </option>
    <option value="Letón">
        Letón
    </option>
    <option value="Libanés">
        Libanés
    </option>
    <option value="Liberiano">
        Liberiano
    </option>
    <option value="Libio">
        Libio
    </option>
    <option value="Liechtensteiniano">
        Liechtensteiniano
    </option>
    <option value="Lituano">
        Lituano
    </option>
    <option value="Luxemburgués">
        Luxemburgués
    </option>
    <option value="Macedonio">
        Macedonio
    </option>
    <option value="Malagache">
        Malagache
    </option>
    <option value="Malasio">
        Malasio
    </option>
    <option value="Malauí">
        Malauí
    </option>
    <option value="Maldivo">
        Maldivo
    </option>
    <option value="Maliense">
        Maliense
    </option>
    <option value="Maltés">
        Maltés
    </option>
    <option value="Marfileño">
        Marfileño
    </option>
    <option value="Marroquí">
        Marroquí
    </option>
    <option value="Marshalés">
        Marshalés
    </option>
    <option value="Mauriciano">
        Mauriciano
    </option>
    <option value="Mauritano">
        Mauritano
    </option>
    <option value="Mexicano">
        Mexicano
    </option>
    <option value="Micronesio">
        Micronesio
    </option>
    <option value="Moldavo">
        Moldavo
    </option>
    <option value="Monegasca">
        Monegasca
    </option>
    <option value="Mongol">
        Mongol
    </option>
    <option value="Montenegrino">
        Montenegrino
    </option>
    <option value="Mozambiqueño">
        Mozambiqueño
    </option>
    <option value="Namibio">
        Namibio
    </option>
    <option value="Nauruano">
        Nauruano
    </option>
    <option value="Neerlandés">
        Neerlandés
    </option>
    <option value="Neozelandés">
        Neozelandés
    </option>
    <option value="Nepalí">
        Nepalí
    </option>
    <option value="Nicaragüense">
        Nicaragüense
    </option>
    <option value="Nigeriano">
        Nigeriano
    </option>
    <option value="Nigerino">
        Nigerino
    </option>
    <option value="Norcoreano">
        Norcoreano
    </option>
    <option value="Noruega">
        Noruega
    </option>
    <option value="Omaní">
        Omaní
    </option>
    <option value="Palauano">
        Palauano
    </option>
    <option value="Palestino">
        Palestino
    </option>
    <option value="Panameño">
        Panameño
    </option>
    <option value="Papú">
        Papú
    </option>
    <option value="Paquistaní">
        Paquistaní
    </option>
    <option value="Paraguayo">
        Paraguayo
    </option>
    <option value="Peruano">
        Peruano
    </option>
    <option value="Polaco">
        Polaco
    </option>
    <option value="Portugués">
        Portugués
    </option>
    <option value="Puertorriqueño">
        Puertorriqueño
    </option>
    <option value="Ruandés">
        Ruandés
    </option>
    <option value="Rumano">
        Rumano
    </option>
    <option value="Ruso">
        Ruso
    </option>
    <option value="Salomonense">
        Salomonense
    </option>
    <option value="Salvadoreño">
        Salvadoreño
    </option>
    <option value="Samoano">
        Samoano
    </option>
    <option value="Sancristobaleño">
        Sancristobaleño
    </option>
    <option value="Sanmarinense">
        Sanmarinense
    </option>
    <option value="Santaluciano">
        Santaluciano
    </option>
    <option value="Santotomense">
        Santotomense
    </option>
    <option value="Sanvicentino">
        Sanvicentino
    </option>
    <option value="Saudí">
        Saudí
    </option>
    <option value="Senegalés">
        Senegalés
    </option>
    <option value="Serbio">
        Serbio
    </option>
    <option value="Seychelense">
        Seychelense
    </option>
    <option value="Sierraleonés">
        Sierraleonés
    </option>
    <option value="Singapurense">
        Singapurense
    </option>
    <option value="Sirio">
        Sirio
    </option>
    <option value="Somalí">
        Somalí
    </option>
    <option value="Suazi">
        Suazi
    </option>
    <option value="Sudafricano">
        Sudafricano
    </option>
    <option value="Sudanés">
        Sudanés
    </option>
    <option value="Sueco">
        Sueco
    </option>
    <option value="Suizo">
        Suizo
    </option>
    <option value="Surcoreano">
        Surcoreano
    </option>
    <option value="Surinamés">
        Surinamés
    </option>
    <option value="Tailandés">
        Tailandés
    </option>
    <option value="Taiwán, China">
        Taiwán, China
    </option>
    <option value="Tanzano">
        Tanzano
    </option>
    <option value="Tayika">
        Tayika
    </option>
    <option value="Timorense">
        Timorense
    </option>
    <option value="Togolés">
        Togolés
    </option>
    <option value="Tongano">
        Tongano
    </option>
    <option value="Trinitense">
        Trinitense
    </option>
    <option value="Tunecino">
        Tunecino
    </option>
    <option value="Turco">
        Turco
    </option>
    <option value="Turcomano">
        Turcomano
    </option>
    <option value="Tuvaluano">
        Tuvaluano
    </option>
    <option value="Ucraniano">
        Ucraniano
    </option>
    <option value="Ugandés">
        Ugandés
    </option>
    <option value="Uruguayo">
        Uruguayo
    </option>
    <option value="Uzbeka">
        Uzbeka
    </option>
    <option value="Vanuatuense">
        Vanuatuense
    </option>
    <option value="Venezolano">
        Venezolano
    </option>
    <option value="Vietnamita">
        Vietnamita
    </option>
    <option value="Yemení">
        Yemení
    </option>
    <option value="Yibutiano">
        Yibutiano
    </option>
    <option value="Zambiano">
        Zambiano
    </option>
    <option value="Zimbabuense">
        Zimbabuense
    </option>
</select>
